fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
python-multipart
python-magic
PyPDF2
python-docx
transformers
torch
scikit-learn
pandas
numpy
nltk
pymorphy3
beautifulsoup4==4.12.2
matplotlib==3.8.2
aiofiles
datasets
pydantic_settings
python-magic
python-docx
python-dotenv